<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/static/css/main.css}"
          href="../../css/main.css" />
</head>
<body>


<div class="container">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf Example</h1>
        <h2>
            <span th:text="'Message: ' + ${message}"></span>
        </h2>
    </div>

</div>

<div class="container">
<form action="https://www.google.com/recaptcha/api/siteverify" method="POST">
    <input type="text" id="secret" name="secret" th:value="*{secret}" />
    <input type="text" id="response" name="response" th:value="*{response}" />
    <input type="text" id="remoteip" name="remoteip" th:value="*{remoteip}" />
    <input type="submit" value="Submit">
</form>
</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>